html, body, h1, h2, h3, h4, img, a, ul, li, div, p, button {
	padding: 0;
	border: 0;
	margin: 0;
	text-align: center;
	font-family: Pangolin;
	font-size: 125%;
}

body {
	background-color: pink;
}

.nav {
	background-color: #ccedff;
}

#new-kitty {
	padding: 5px;
	margin: 20px 0 0 0 ;
	background-color:  #ccedff;
}

.main-heading {
	padding: 5px 0 5px 0;
}

.sub-heading {
	padding-top: 40px;
}

#kitty-name {
	color:;
	padding: 40px 0 0 0;
}

